{% extends "base.html" %}
{% block content %}
<h1 class="text-center">Editar Camión 🚚</h1>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <form method="POST" class="card p-3 shadow">
      <div class="mb-3">
        <label class="form-label">Marca</label>
        <input type="text" name="marca" class="form-control" value="{{ truck.marca }}">
      </div>
      <div class="mb-3">
        <label class="form-label">Modelo</label>
        <input type="text" name="modelo" class="form-control" value="{{ truck.modelo }}">
      </div>
      <div class="mb-3">
        <label class="form-label">Año</label>
        <input type="text" name="año" class="form-control" value="{{ truck.año }}">
      </div>
      <button type="submit" class="btn btn-success">Actualizar</button>
      <a href="{{ url_for('index') }}" class="btn btn-secondary">Cancelar</a>
    </form>
  </div>
</div>
{% endblock %}
